{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint-config-blvd/react",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react-hooks/exhaustive-deps": "warn",
    "max-len": ["warn", { "code": 140, "ignoreUrls": true }],
    "import/prefer-default-export": "off",
    // "react/no-array-index-key": "off",
    // "@typescript-eslint/explicit-function-return-type": 0,
    "overrides": [
      {
        "files": ["*.ts", "*.tsx"],
        "rules": {
          "@typescript-eslint/explicit-module-boundary-types": ["error"]
        }
      }
    ],
    "no-use-before-define": "off",
    "react/no-unescaped-entities": [
      "warn",
      {
        "forbid": [
          { "char": ">", "alternatives": ["&gt;"] },
          { "char": "}", "alternatives": ["&#125;"] }
        ]
      }
    ]
  }
}
